 #myImage{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: relative;
    top: 12px;
    left: 25px;
}

 header{
    z-index: 12;
    height: 12%;
    width: 100%;
    background-color: rgb(92 131 206);
    border: 0px;
    padding: 0px;
    margin: 0px;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
}

#brandLogo{
    position: relative;
    top: -89px;
    width: 301px;
}

#myName{
    display: inline;
    position: relative;
    font-family: monospace;
    font-size: 31px;height: 49px;
    width: 50px;
    border-radius: 50%;
    position: relative;
    top: 1px;
    left: 33px;

}


.headerButtons{
    color: white;
    background-color: darkviolet;
    border-radius: 7px;
    height: 36px;
    width: 134px;
    font-size: 21px;
    position: relative;  
    left: 902px;
    diaplay: flex;
    margin: 10px;
}

main{
    position: relative;
    top: 50px;
    
}
.title{
    text-align: center;
    position: relative;
    top: 59px;
    font-family: cursive;
}

#mainTitle{
    position: relative;
    top: 75px;
    left: 215px;
    font-size: 50px;
}

table {
    /* border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
     */
  }

  footer{
border: 0px;
padding: 0px;
    height: 30vh;
    position: relative;
    top: 537px;
    right: 0px;
    left: 0px;
    text-align: center;
}