@media(max-width:600px){
    
    #brandLogo {
        position: relative;
    top: -88px;
    width: 245px;
    right: -9px;
    visibility: hidden;
    }

    #mainTitle1 {
        position: relative;
        top: 68px;
        left: 90px;
        font-size: 18px;
    }
    
    header {
        z-index: 12;
        height: 6%;
        width: 100%;
        background-color: rgb(92 131 206);
        border: 0px;
        padding: 0px;
        margin: 0px;
        position: fixed;
        top: 0px;
        right: 0px;
        left: 0px;
    }
    
    
    
    #myImage {
        height: 71px;
        width: 72px;
        border-radius: 50%;
        position: relative;
        top: 15px;
        left: 12px;
    }

    #myName {
        display: inline;
        position: relative;
        font-family: monospace;
        font-size: 18px;
        height: 49px;
        width: 50px;
        border-radius: 50%;
        position: relative;
        top: -8px;
        left: 33px;
    }

    .headerButtons {
        color: white;
        background-color: #d58bc7;
        border-radius: 7px;
        height: 30px;
        width: 62px;
        font-size: 9px;
        position: relative;
        left: 76px;
        diaplay: flex;
        margin: 6px;
        cursor: pointer;
      transition: all 0.3s ease;
    }

/* .headerButtons:hover{
    background-color: #9734ae;  
    transform: scale(1.1); 
}

.headerButtons:active {
    background-color: #60105c; 
    transform: scale(1); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);  
  } */


    #mainTitle {
        position: relative;
        top: 32px;
        left: 3px;
        font-size: 34px;
    }
    #mainTitle1 {
        position: relative;
        top: 5px;
        left: 2px;
        font-size: 16px;
        font-family: system-ui;
    }
    footer {
        border: 0px;
        padding: 0px;
        height: 213px;
        /* width: 100vw; */
        width: 600px;
        position: fixed;
        top: 723px;
        /* right: -2px; */
        left: -9px;
        text-align: center;
        background-color: rgba(24, 196, 75, 0.319);
    }
    #column1 {
        background-color: #e0cdcd;
        border: 1px solid #0f0101;
        height: 271px;
        width: 260px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        color: #333;
        position: relative;
        top: -144px;
    }

    #column3 {
        background-color: #e0cdcd;
        border: 1px solid #0f0101;
        height: 271px;
        width: 154px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        color: #333;
        position: relative;
        bottom: 802px;
        left: 265px;
    }


}
    


    #myImage{
       height: 50px;
       width: 50px;
       border-radius: 50%;
       position: relative;
       top: 12px;
       left: 25px;
   }
   
    header{
       z-index: 12;
       height: 12%;
       width: 100%;
       background-color: rgb(92 131 206);
       border: 0px;
       padding: 0px;
       margin: 0px;
       position: fixed;
       top: 0px;
       right: 0px;
       left: 0px;
   }
   
   #brandLogo{
       position: relative;
       top: -137px;
       width: 313px;
       right: -129px;
   }
   
   #myName{
       display: inline;
       position: relative;
       font-family: monospace;
       font-size: 31px;height: 49px;
       width: 50px;
       border-radius: 50%;
       position: relative;
       top: 1px;
       left: 33px;
   
   }
   
   
   .headerButtons {
    color: white;
    background-color: #d58bc7;
    border-radius: 7px;
    height: 30px;
    width: 62px;
    font-size: 15px;
    position: relative;
    left: 914px;
    width: 127px;
    diaplay: flex;
    margin: 6px;
    cursor: pointer;
  transition: all 0.3s ease;
}

.headerButtons:hover{
background-color: #9734ae;  
transform: scale(1.1); 
}

.headerButtons:active {
background-color: #60105c; 
transform: scale(1); 
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);  
}
   main{
       position: relative;
       top: 50px;
      
       
   }
   .title{
       text-align: center;
       position: relative;
       top: 59px;
       font-family: cursive;
   }
   
   #mainTitle{
       position: relative;
       top: 75px;
       left: 215px;
       font-size: 50px;
   }
   
   #mainTitle1{
       position: relative;
       top: 46px;
       left: 208px;
       font-size: 23px;
   }
   
   
     footer{
   border: 0px;
   padding: 0px;
       height: 30vh;
       /* width: 100vw; */
       position: relative;
       top: 537px;
       right: 0px;
       left: 0px;
       text-align: center;
       background-color: rgba(24, 196, 75, 0.319);
   }
   
   #footerTitle{
   font-size: 30px;
   }
   
   .SocialMedialogo{
    display: inline-block;
    height: 62px;
    margin: 5px;
    border-radius: 29%;
   
   }

   #column1 {
    background-color: #8672ced1;
    border: 1px solid #0f0101;
    height: 334px;
    width: 1086px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #333;
    position: relative;
    top: -87px;
}
   #column2 {
    background-color: #8672ced1;
    border: 1px solid #0f0101;
    height: 383px;
    width: 274px;;
    font: size 100px;
    color: #333;
    position: relative;
    top: -87px;
    overflow: auto;

  word-wrap: break-word;
}



#column3 {
    background-color: #8672ced1;
    border: 1px solid #0f0101;
    height: 718px;
    width: 420px;
    display:inline-block;  
    
    color: #333;
    position: relative;
    bottom: 809px;
    left: 1086px;
    margin: 2px;     
    padding: 2px;
}

ul, ol {
    margin: 2px;     
    padding: 2px;     
    display: inline;
  }

#column1_heading{
    position: relative;
    top: -95px;
}


body {
    overflow-x: hidden;
}


   

   
